<mat-card>
  <mat-card-header>
    <h1 mat-card-title>Wyszukaj podmiot</h1>
  </mat-card-header>

  <mat-card-content class="search-criterias">
    <form
      class="search-criteria"
      #nipForm="ngForm"
      (ngSubmit)="runSearch({ nip })"
    >
      <mat-form-field class="search-criteria__field">
        <mat-label>NIP</mat-label>
        <input
          type="text"
          name="nip"
          matInput
          [(ngModel)]="nip"
          pattern="^[0-9]{10}$"
          required
          #nipModel="ngModel"
          placeholder="np.: 5261040828"
          [appGenericValidator]="validators.nip"
          mask="0000000000"
        />
        <mat-error *ngIf="nipModel.invalid && nipModel.hasError('pattern')"
          >NIP powinien składać się z 10 cyfr</mat-error
        >
        <mat-error *ngIf="nipModel.invalid && nipModel.hasError('required')"
          >NIP jest wymagany</mat-error
        >
        <mat-error
          *ngIf="
            nipModel.invalid &&
            nipModel.hasError('isNIPInvalid') &&
            !nipModel.hasError('pattern')
          "
          >To nie jest poprawny kod NIP</mat-error
        >
      </mat-form-field>

      <button
        class="search-criteria__run-search"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="nipForm.invalid"
      >
        Szukaj
      </button>
    </form>

    <form
      class="search-criteria"
      #regonForm="ngForm"
      (ngSubmit)="runSearch({ regon })"
    >
      <mat-form-field class="search-criteria__field">
        <mat-label>REGON</mat-label>
        <input
          type="text"
          name="regon"
          matInput
          [(ngModel)]="regon"
          pattern="^(\d{9}|\d{14})$"
          maxlength="14"
          required
          #regonModel="ngModel"
          placeholder="np.: 000017756"
          [appGenericValidator]="validators.regon"
        />
        <mat-error *ngIf="regonModel.invalid && regonModel.hasError('pattern')"
          >REGON powinien składać się z 10 lub 14 cyfr</mat-error
        >
        <mat-error *ngIf="regonModel.invalid && regonModel.hasError('required')"
          >REGON jest wymagany</mat-error
        >
        <mat-error
          *ngIf="
            regonModel.invalid &&
            regonModel.hasError('isREGONInvalid') &&
            !regonModel.hasError('pattern')
          "
          >To nie jest poprawny kod REGON</mat-error
        >
      </mat-form-field>

      <button
        class="search-criteria__run-search"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="regonForm.invalid"
      >
        Szukaj
      </button>
    </form>

    <form
      class="search-criteria"
      #krsForm="ngForm"
      (ngSubmit)="runSearch({ krs })"
    >
      <mat-form-field class="search-criteria__field">
        <mat-label>KRS</mat-label>
        <input
          type="text"
          name="krs"
          matInput
          [(ngModel)]="krs"
          pattern="^[0-9]{10}$"
          maxlength="10"
          required
          #krsModel="ngModel"
          placeholder="np.: 0000331501"
        />
        <mat-error *ngIf="krsModel.invalid && krsModel.hasError('pattern')"
          >KRS powinien składać się z 10 cyfr</mat-error
        >
        <mat-error *ngIf="krsModel.invalid && krsModel.hasError('required')"
          >KRS jest wymagany</mat-error
        >
      </mat-form-field>

      <button
        class="search-criteria__run-search"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="krsForm.invalid"
      >
        Szukaj
      </button>
    </form>
  </mat-card-content>
</mat-card>
