<mat-toolbar color="primary" role="heading">
  <nav>
    <a mat-button routerLink="/">Wyszukiwarka podmiotów</a>
  </nav>

  <div class="header-actions">
    <a
      mat-icon-button
      routerLink="/auth-state"
      matTooltip="Stan autoryzacji"
      aria-label="Sprawdź aktualny stan autoryzacji"
      ><mat-icon>account_box</mat-icon></a
    >

    <ng-container
      *ngIf="isLoggedIn$ | async; then logoutBtn; else loginBtn"
    ></ng-container>
  </div>
</mat-toolbar>

<main class="main-content">
  <ng-content></ng-content>
</main>

<ng-template #loginBtn>
  <button
    type="button"
    mat-icon-button
    matTooltip="Zaloguj się"
    aria-label="Zaloguj się do aplikacji"
    (click)="login()"
  >
    <mat-icon>login</mat-icon>
  </button>
</ng-template>

<ng-template #logoutBtn>
  <button
    type="button"
    mat-icon-button
    matTooltip="Wyloguj się"
    aria-label="Wyloguj się z aplikacji"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</ng-template>
